.top {
    position: relative;
    width: 100%;
    overflow: hidden;

    @include tablet {
        text-align: center;
    }

    article {
        width: 100%;
    }

    h2 {
        @include title-h1;

        @include mobile {
            font-size: 5rem;
        }
    }

    .name {
        @include title-h2;
        color: $gray2;

        @include mobile {
            font-size: 3rem;
        }
    }

    .greeting {
        @include title-t4;
        margin-top: 15px;
    }

    .top-text {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.4rem;
            width: 8.4rem;
            width: 6rem;
            border-bottom: 2px solid $black;

            @include tablet {
                left: 50%;
                transform: translate(-50%);
            }
        }
    }

}

/* about me */
.about {
    article {
        width: 100%;
    }

    .about-wrap {
        margin-top: 1rem;

        @include tablet {
            text-align: center;
        }
    }

    .about-txt {
        color: var(--fontColor);
        font-size: 1.7rem;

        @include tablet {
            font-size: 1.5rem;
        }

        &+.about-txt {
            margin-top: 2rem;
        }
    }
}

/* history */
.history {
    .history-article {
        @include flex($align: flex-start);
        gap: 2rem;
    }

    .history-article>div {
        position: relative;
        width: calc(100% / 3 - 1.5rem);
        overflow: hidden;

        @include mobile {
            width: calc(100% / 2 - 1rem);
        }

        .history-img {
            height: 100%;
            line-height: 0;
            transition: opacity .15s linear;
            border: 1px solid #dfdfdf;
            overflow: hidden;
            // border-radius: 1rem;
        }

        &:hover {
            color: #000;
            -webkit-transform: translateY(-1.2rem);
            -ms-transform: translateY(-1.2rem);
            transform: translateY(-1.2rem)opacity .75;
            transition: transform .15s linear;

            .history-info {
                opacity: 1;
                transition: opacity .3s linear;

            }
        }
    }

    .history-info {
        position: absolute;
        @include flex($justify: center, $direction: column);
        flex-direction: column;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.4);
        backdrop-filter: blur(10px);
        opacity: 0;

        .history-title {
            color: $white;
            font-size: 2rem;
        }

        .history-company {
            color: $white;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .history-tags {
            margin-top: 1.5rem;
            color: $white;
            font-weight: bold;
            font-size: 1.3rem;
        }
    }
}

/* contact */
.contact {
    article {
        width: 100%;
        @include mobile {
              text-align: center;
        }
        > div {
            .contact-label {
                display: block;
                margin-bottom: 0.5rem;
                font-size: 1.5rem;
                font-weight: 700;
                text-transform: uppercase;
                color: #000;
                font-family: 'KBO-Dia-Gothic_bold';
            }

            p {
                font-size: 18px;
            }
        }

        .btn-primary {
            display: inline-block;
            color: #000;
            font-size: 17px;
            padding: 10px 20px;
            margin-top: 40px;
            border: 2px solid #000;
            border-radius: 6px;
        }

        .contact-wrap {
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            @include mobile {
                align-items: center;
                flex-direction: column;
            }

            > div {
                @include mobile {
                    text-align: center;
                }
            }

        }
    }

}

.project {
    article {
        width: 100%;

        .project-list {
            @include flex;
            width: 100%;
            gap: 4rem;

            @include tablet {
                gap: 2rem;
            }

            li {
                width: calc(19% - 2.5rem);
                height: 23rem;
                transition: transform 0.5s ease, box-shadow 0.5s ease;

                @include tablet {
                    width: calc(24% - 1rem);
                }

                @include mobile {
                    width: calc(50% - 1rem);
                    height: 20rem;
                }

                .list {
                    background: $black;
                    color: $white;
                    width: 100%;
                    height: 100%;
                    padding: 2rem;

                    .number {
                        @include fs-16;
                        font-weight: 500;
                        color: $primary;
                    }

                    a {
                        @include flex($direction: column, $justify: center);
                        width: 100%;
                        height: 100%
                    }

                    .title {
                        @include title-t2;
                        font-weight: 500;
                        margin-top: 0.5rem;

                        @include tablet {
                            font-size: 1.7rem;
                        }
                    }
                }

                &:hover {
                    animation: wobble 0.6s ease-in-out;
                }
            }
        }
    }

}

@keyframes wobble {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-10px) rotate(-5deg);
    }

    50% {
        transform: translateX(10px) rotate(5deg);
    }

    75% {
        transform: translateX(-5px) rotate(-3deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}