/* ##############################
	#  color variable
################################*/

// base
$white: #fff;
$black: #000;

// gray
$gray1: #282828;
$gray2: #353535;
$gray3: #303030;
$gray4: #4d4d4d;
$gray5: #606060;
$gray6: #666666;
$gray7: #999999;
$gray8: #dddddd;
$gray9: #f7f7f7;

$primary:#006ff7;
$err: #ec0043;