/* ##############################
	#  weather
################################*/

.weather {
  .current-date{
    @include title-h4;
    text-align: center;
    margin-bottom: 1rem;
  }
  .weather-wrap{
    @include flex($justify:center);
    gap: 2rem;
    .weather-box {
      min-width: 30rem;
      & > div {
        @include flex;
        width: 100%;
        padding: 2rem;
        background: $white;
        border-radius: 0.6rem;
        border: 1px solid $gray8;
      }
  
      .city-name {
        @include title-h3;
        color: $gray2;
      }
      .city-info{
        @include flex($justify:center);
        flex-direction: column;
        .temp{
          margin-top: 0.5rem;
          font-size:1.6rem;
        }
      }
    }
  }
}